spring:
  application:
    name: ExpenseTrackingAPI
profiles:
  active: dev               

output:
  ansi:
    enabled: always        

logging:
  level:
    root: INFO
    org.springframework: INFO
    com.expensetracker: DEBUG
